<h2>Country Edit</h2>
<form (submit)="onSubmit($event)">
    <span [hidden]="true">
    <input  type="number" [formField]="countryForm.id" />
    </span>
  <mat-form-field>
    <label for="name">Name:</label>
    <input matInput type="text" [formField]="countryForm.name" />
  </mat-form-field>
  <mat-form-field>
    <label for="iso2">ISO2:</label>
    <input matInput type="text" [formField]="countryForm.iso2" />
  </mat-form-field>
  <mat-form-field>
    <label for="iso3">ISO3:</label>
    <input matInput  type="text" [formField]="countryForm.iso3" />
  </mat-form-field>
   <div>
          <button matButton="" mat-flat-button color="primary" type="submit">Save</button>
          <button matButton="" mat-flat-button color="secondary" [routerLink]="['/countries']">Cancel</button>
      </div>

</form>