<h2>Login</h2>
<form (submit)="login($event)">
<mat-form-field>
    <mat-label>Username:</mat-label>
    <input matInput [formField]="loginForm.userName" />
</mat-form-field>
<mat-form-field>
    <mat-label>Password:</mat-label>
    <input type="password" matInput [formField]="loginForm.password" />
</mat-form-field>
 <div>
          <button matButton="" mat-flat-button color="primary" type="submit">Login</button>
          <button matButton="" mat-flat-button color="secondary" [routerLink]="['/']">Cancel</button>
      </div>
</form>